services:
  postgresProductos:
    image: postgres:latest
    container_name: modulo-productos
    env_file:
      - .env
    environment: 
    volumes:
      - postgres_data:/var/libs/postgresql
    ports:
      - "5400:5432"
    networks:
      - red-speweb
  volumes:
    postgres_data:
  networks:
  modulo-usuarios: 
    profiles: ["usuarios"]
    ports:
      - "${PORT}:3001"
    env_file:
      - .env
    build:
      context: ${CONTEXTO}
      dockerfile: /apps/${MICROSERVICIO}/deploy/Dockerfile
      env_file:
      - .env
    environment:
      CONTEXT: ${CONTEXTO}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    